/*
===============
Checkboxes
===============
*/

/* hiding the standard input element */
.form__checkbox-input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* Created a fake checkbox */
.form__checkbox-input+label{
    display: inline-flex;
    align-items: center;
    user-select: none;       /* user can’t select it */
}
.form__checkbox-input+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #2563EB;
    background-color: var(--checkbox-surface-subtle);
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.checkbox__circle+label::before{
    border-radius: 50%;
}
.checkbox__box+label::before{
    border-radius: 4px;
}

/* styles when an element is in the checked state */
.checkbox__circle:checked+label::before{
    background-image: url('../images/icons/checkbox__circle.svg');
}
.checkbox__box:checked+label::before{
    background-color: var(--checkbox-surface-checked);
    background-image: url('../images/icons/checkbox__box.svg');
}

/* styles for a checkbox in the hover state and not checked */
.form__checkbox-input:not(:disabled):not(:checked)+label:hover::before{
    border: 2px solid var(--checkbox-surface-medium);
    /*background-color: #EFF6FF;*/
}

/* styles for a checkbox in the hover state */
.checkbox__box:checked+label:hover::before{
    background-color: var(--checkbox-surface-medium);
    border: 2px solid var(--checkbox-surface-medium);
}
.checkbox__circle:checked+label:hover::before{
    border: 2px solid var(--checkbox-surface-medium);
    /*background-color: #FAFAFA;*/
    background-image: url('../images/icons/checkbox__circle-hover.svg');
}

/* styles for a checkbox in the focus */
.checkbox__circle:focus+label::before{
    outline: 1,5px solid var(--checkbox-border-subtle);
    /*background-color: #FAFAFA;*/
}
.checkbox__box:focus+label::before{
    outline: 2,5px solid var(--checkbox-border-subtle);
    background-color: var(--checkbox-surface-default);
}

/* styles for a checkbox in the focus state and not in the checked state */
.form__checkbox-input:focus:not(:checked)+label::before{
    /*background-color: #EFF6FF;*/
}
.checkbox__circle:focus:not(:checked)+label::before{
    outline: 1.5px solid var(--checkbox-border-subtle);
}
.checkbox__box:focus:not(:checked)+label::before{
    outline: 2.5px solid var(--checkbox-border-subtle);
}

/* styles for a checkbox in the disabled state */
.form__checkbox-input:disabled+label::before{
    background-color: #F5F5F5;
}
.checkbox__circle:disabled+label::before{
    border: 2px solid #E5E5E5;
    background-image: url('../images/icons/checkbox__circle-disabled.svg');
}
.checkbox__box:disabled+label::before{
    border: 2px solid #F5F5F5;
    background-image: url('../images/icons/checkbox__box-disabled.svg');
}
