@import url("reset.css");

body{
    font-family: 'Gilroy', sans-serif;
    color: #D4D4D4;
    background-color: #000000;
}

a{
    color: inherit;
}

.title{
    color: #FAFAFA;
}

.сontact_btn{
    display: inline-flex;
    column-gap: 8px;
    padding: 12px 24px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    background-color: #3B82F6;
    color: #FAFAFA;
    border-radius: 16px;
}

.container{
    margin: 0 auto;
    max-width: 1304px;
}

.header {
    padding-bottom: 240px;                       
}

.header__nav {
    padding: 21px 0 141px;              
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo {
}
.logo {
}

.nav__list {
    display: flex;
    gap: 36px;
    justify-content: center;
    align-self: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.header__list-item {
}
.header__list-link {
}

.admission {
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.admission__link {
    padding: 8px 16px;
    background-color: transparent;
    border-radius: 8px;
}

.admission__btn {
    padding: 8px 16px;
    background-color: #3B82F6;
    border-radius: 8px;
}

.header__content {
    text-align: center;
}

.header__title {
    margin: 0 auto;
    max-width: 960px;
    margin-bottom: 24px;
    font-size: 84px;
    font-weight: 600;
    line-height: 120%;
}

.header__text {
    margin: 0 auto;
    max-width: 611px;
    margin-bottom: 48px;
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;
}

.header__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.header__btn {
    margin-right: 12px;
}

.header__link {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/*----------services----------*/

.services {
    padding-bottom: 240px;
}

.services__top {
    text-align: center;
}

.services__title {
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 42px;
    font-weight: 700;
    line-height: 140%;
}

.services__text{
    margin: 0 auto;
    max-width: 611px;
    margin-bottom: 48px;
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;
}

.services__box {
}

.services__list {
    display: flex;
    gap: 48px;
}

.services__list-item {
    display: grid;
    gap: 12px;
    padding: 48px;
    text-align: center;
}

.services__icon-1 {
    background-image: url("../images/services__icon-1.svg");
    background-repeat: no-repeat;
    background-position: top;
}

.services__list-title {
    font-size: 20px;
    font-weight: 600;
}

.services__list-text {
    font-size: 16px;
    font-weight: 400;
}

.services__list-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background-image: url("../images/services__arrow.svg");
    background-repeat: no-repeat;
    background-position: right;
}